
    {block content}

		<h1 n:block="title">Můj blog</h1>
		<a n:href="Post:create" n:if="$user->loggedIn">Vytvořit příspěvek</a>

        {foreach $posts as $post}
			<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>


        {/foreach}
    {/block}

